body {
  background: #e2e1e0;
  text-align: center;

}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 400px;
  padding: 10px;
}

.card-1 {
  border: #e2e1e0 solid 5px;
  box-shadow: 0 15px 10px  rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.25);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 48px 58px rgba(110, 110, 110, 0.25), 0 10px 10px rgba(110, 110, 110, 0.25);
}
h2, h1{
    margin-bottom: 2px;

}
h3{
  margin-top: 2px;
  text-transform: uppercase;
  text-align: center;
  background-color: #e2e1e0;
}