<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wc-Cards </title>
    <link rel="stylesheet" href="../../public/stylesheets/min/transversal_design_1.0.0.min.css">
</head>
<body class="space_2">
    <header>
        <h1>Ejemplo de cartas 🃏</h1><br />
    </header>
    <main>
        <div class="wc-card">
            <img src="https://s13.postimg.cc/5al19x0d3/media_img.jpg" class="wc-card-media" />
            <div class="wc-card-details">
                <h2 class="wc-card-head">Kangaroo Valley Safari</h2>
                <p>Located two hours south of Sydney in the Southern Highlands of New South Wales, ...</p>
                <a href="#/" class="wc-a">SHARE</a>
                <a href="#/" class="wc-a">EXPLORE</a>
            </div>
        </div>
        <div class="row">
            <br>
            <p class="code column-4">
                &ltdiv class="wc-card">
                    &ltimg src="https://s13.postimg.cc/5al19x0d3/media_img.jpg" class="wc-card-media" />
                &ltdiv class="wc-card-details">
                &lth2 class="wc-card-head">Kangaroo Valley Safari&lt/h2>
                &ltp>Located two hours south of Sydney in the Southern Highlands of New South Wales, ...&lt/p>
                &lta href="#/" class="wc-a">SHARE&lt/a>
                &lta href="#/" class="wc-a">EXPLORE&lt/a>
                &lt/div>
                    &lt/div>
               
            </p>
        </div>

    </main>
</body>

</html>