<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons </title>
    <link rel="stylesheet" href="../../public/stylesheets/min/transversal_design_1.0.0.min.css">
</head>
<body class="space_2">
    <h1>Ejemplo de boton primario</h1><br />
    <section class="column-4"> <button class="wc-btn-primary">hola</button></section><br /><br />
    <div class="row">
        <br>
        <p class="code column-4">

            &ltbutton class="wc-btn-primary">
            &lt/button>
        </p>
    </div>
    <h1>Ejemplo de boton secundario</h1>
    <section class="column-4"> <button class="wc-btn-secondary">hola</button></section><br /><br />
    <div class="row">
        <br>
        <p class="code column-4">
            &ltbutton class="wc-btn-secondary">
            &lt/button>
        </p>
    </div>
</body>

</html>