.wc-card {
    border: #e2e1e0 solid 5px;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, .25), 1px 1px 3px rgba(0, 0, 0, .1);
    max-width: 340px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.wc-card-media {
    width: 100%;
}

.wc-card-details {
    padding: 5px 15px;
}

.wc-card-head {
    font-weight: 400;
}

.wc-card-head {
    font-size: 26px;
    margin-bottom: 15px;
}

.wc-card:hover {
    box-shadow: 0 48px 58px rgba(110, 110, 110, 0.25), 0 10px 10px rgba(110, 110, 110, 0.25);
}
