<header>
  <h1>Hola mundo 👾</h1>
</header>

<main>
  <div> 
    <header>
      <h1>Ejemplo de boton primario</h1><br />
  </header>
  <main>
      <section class="column-4"> <button class="wc-btn-primary">hola</button></section><br /><br />
      <div class="row">
          <br>
          <p class="code column-4">
  
              &ltbutton class="wc-btn-primary">
              &lt/button>
          </p>
      </div>
      <h1>Ejemplo de boton secundario</h1>
      <section class="column-4"> <button class="wc-btn-secondary">hola</button></section><br /><br />
      <div class="row">
          <br>
          <p class="code column-4">
              &ltbutton class="wc-btn-secondary">
              &lt/button>
          </p>
      </div>
  </main>
  </div>
</main>