<header>

</header>


<main class="space_4">
  <section >

    <h1>Hello world 🌍🅰️</h1>
    <div class="row">
      <div class="column-4">
        <button wc-btn>Esto funciona</button>
      </div>

      <div class="column-4">
        <button wc-btn btnStyle='secondary'>Esto funciona</button>
      </div>
      <br><br>
    </div>

  </section>


  <section >
    <h1>Simple weincode card</h1>
    <wc-card
    imgCard = "https://img.freepik.com/fotos-premium/montanas-georgia-rios-montana_73944-8400.jpg?w=2000" 
    titleCard = "Hola soy una tarjeta"
    contentCard =  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis praesentium amet aperiam molestiae necessitatibus quos unde aspernatur, nostrum commodi. Quis consequuntur unde quo, eos rerum nostrum cumque omnis neque molestias."
    leftActionCardText = "Google"  
    rigthActionCardText = "YouTube"  
    leftActionLnkCard = "https://google.com/"
    rigthActionLnkCard = "https://youtube.com/"
    >
  </wc-card>

 
  </section>
</main>

<footer>

</footer>