
//  ████████╗██╗···██╗██████╗··██████╗·
//  ╚══██╔══╝╚██╗·██╔╝██╔══██╗██╔═══██╗
//  ···██║····╚████╔╝·██████╔╝██║···██║
//  ···██║·····╚██╔╝··██╔═══╝·██║···██║
//  ···██║······██║···██║·····╚██████╔╝
//  ···╚═╝······╚═╝···╚═╝······╚═════╝·



$font:'Montserrat', sans-serif;

// Typos
$h1:1.50rem;
$h2:1.30rem;
$h3:1.20rem;
$p:1.13rem;
$small:1.10rem;

// Typo Bolds

$black:800;
$bolder:700;
$medium:600;
$normal:500;
$light:400;
