@import "../../tokens/colors.scss";

$btn_primary_bg : $brand_primary_scale_00;
$btn_primary_bg_hover : $brand_primary_scale_03;
$btn_secondary_bg : $brand_primary_scale_00;
$btn_secondary_bg_hover : $brand_primary_scale_03;
$btn_font_color : $white_normal;
